.cover {
  background-image: url(../../assets/img/products-header.jpg);
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  min-height: calc(100vh - 80px);
  height: calc(100vh - 80px);
}
